{{#if message}}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    </div>
{{/if}}

<div class="container">
    <h3>Register</h3>
    <form action="/register" method="POST" name="login">
        <div class="form-group">
            <strong><label for="user">* User</label></strong>
            <input type="text" class="form-control" id="user" name="user">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterUser">
                Enter the user.
            </div>
        </div>

        <div class="form-group">
            <strong><label for="password">* Password</label></strong>
            <input type="password" class="form-control" id="password" name="password">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterPassword">
                Enter the password
            </div>
        </div>

        <div class="text-left">
            <a onclick="validate();" type="submit" class="btn btn-success">Register</a>
        </div>
    </form>

    <a href="/authenticate" role="button">
        <i class="fa fa-user" aria-hidden="true"></i> Already have an account?
    </a>
</div>

<script src="/scripts/register.js"></script>